In [ ]:
import pandas as pd
import sqlite3

In [ ]:
df_patients = pd.read_csv('/content/full_patient_dataset.csv')
df_high_risk = pd.read_csv('/content/high_risk_patient_segment.csv')

In [ ]:
df_patients.columns = [c.strip().replace(' ', '_').lower() for c in df_patients.columns]
df_high_risk.columns = [c.strip().replace(' ', '_').lower() for c in df_high_risk.columns]

In [ ]:
conn = sqlite3.connect('healthcare.db')
cur = conn.cursor()

In [ ]:
df_patients.to_sql('full_patient_dataset', conn, if_exists='replace', index=False)
df_high_risk.to_sql('high_risk_patient_segment', conn, if_exists='replace', index=False)

11720

In [ ]:
print("Patients table columns:", df_patients.columns)
print("High risk table columns:", df_high_risk.columns)

Patients table columns: Index(['general_health', 'checkup', 'exercise', 'heart_disease', 'skin_cancer',
       'other_cancer', 'depression', 'diabetes', 'arthritis', 'sex',
       'age_category', 'height_(cm)', 'weight_(kg)', 'bmi', 'smoking_history',
       'alcohol_consumption', 'fruit_consumption',
       'green_vegetables_consumption', 'friedpotato_consumption'],
      dtype='object')
High risk table columns: Index(['general_health', 'checkup', 'exercise', 'heart_disease', 'skin_cancer',
       'other_cancer', 'depression', 'diabetes', 'arthritis', 'sex',
       'age_category', 'height_(cm)', 'weight_(kg)', 'bmi', 'smoking_history',
       'alcohol_consumption', 'fruit_consumption',
       'green_vegetables_consumption', 'friedpotato_consumption'],
      dtype='object')

In [ ]:
cur.execute("SELECT * FROM full_patient_dataset LIMIT 10;")
print("First 10 patients:", cur.fetchall())

First 10 patients: [('Poor', 'Within the past 2 years', 'No', 0, 0, 'No', 0, 0.0, 1, 'Female', '70-74', 150.0, 32.66, 14.54, 'Yes', 0.0, 30.0, 16.0, 12.0), ('Very Good', 'Within the past year', 'No', 1, 0, 'No', 0, 1.0, 0, 'Female', '70-74', 165.0, 77.11, 28.29, 'No', 0.0, 30.0, 0.0, 4.0), ('Very Good', 'Within the past year', 'Yes', 0, 0, 'No', 0, 1.0, 0, 'Female', '60-64', 163.0, 88.45, 33.47, 'No', 4.0, 12.0, 3.0, 16.0), ('Poor', 'Within the past year', 'Yes', 1, 0, 'No', 0, 1.0, 0, 'Male', '75-79', 180.0, 93.44, 28.73, 'No', 0.0, 30.0, 30.0, 8.0), ('Good', 'Within the past year', 'No', 0, 0, 'No', 0, 0.0, 0, 'Male', '80+', 191.0, 88.45, 24.37, 'Yes', 0.0, 8.0, 4.0, 0.0), ('Good', 'Within the past year', 'No', 0, 0, 'No', 1, 0.0, 1, 'Male', '60-64', 183.0, 154.22, 46.11, 'No', 0.0, 12.0, 12.0, 12.0), ('Fair', 'Within the past year', 'Yes', 1, 0, 'No', 0, 0.0, 1, 'Male', '60-64', 175.0, 69.85, 22.74, 'Yes', 0.0, 16.0, 8.0, 0.0), ('Good', 'Within the past year', 'Yes', 0, 0, 'No', 0, 0.0, 1, 'Female', '65-69', 165.0, 108.86, 39.94, 'Yes', 3.0, 30.0, 8.0, 8.0), ('Fair', 'Within the past year', 'No', 0, 0, 'No', 1, 0.0, 0, 'Female', '65-69', 163.0, 72.57, 27.46, 'Yes', 0.0, 12.0, 12.0, 4.0), ('Fair', 'Within the past year', 'No', 0, 0, 'No', 0, 1.0, 1, 'Female', '70-74', 163.0, 91.63, 34.67, 'No', 0.0, 12.0, 12.0, 1.0)]

In [ ]:
cur.execute("SELECT COUNT(*) FROM full_patient_dataset;")
print("Total patients:", cur.fetchall())

Total patients: [(308854,)]

In [ ]:
cur.execute("SELECT COUNT(*) FROM high_risk_patient_segment;")
print("Total high-risk patients:", cur.fetchall())

Total high-risk patients: [(11720,)]

In [ ]:
cur.execute("SELECT * FROM full_patient_dataset WHERE heart_disease=1 LIMIT 10;")
print("Heart Disease patients:", cur.fetchall())

Heart Disease patients: [('Very Good', 'Within the past year', 'No', 1, 0, 'No', 0, 1.0, 0, 'Female', '70-74', 165.0, 77.11, 28.29, 'No', 0.0, 30.0, 0.0, 4.0), ('Poor', 'Within the past year', 'Yes', 1, 0, 'No', 0, 1.0, 0, 'Male', '75-79', 180.0, 93.44, 28.73, 'No', 0.0, 30.0, 30.0, 8.0), ('Fair', 'Within the past year', 'Yes', 1, 0, 'No', 0, 0.0, 1, 'Male', '60-64', 175.0, 69.85, 22.74, 'Yes', 0.0, 16.0, 8.0, 0.0), ('Fair', 'Within the past year', 'Yes', 1, 0, 'No', 0, 0.0, 1, 'Female', '75-79', 160.0, 74.84, 29.23, 'No', 0.0, 30.0, 20.0, 2.0), ('Fair', 'Within the past year', 'No', 1, 1, 'No', 0, 1.0, 0, 'Male', '75-79', 175.0, 73.48, 23.92, 'No', 0.0, 2.0, 8.0, 30.0), ('Good', 'Within the past year', 'Yes', 1, 0, 'Yes', 0, 1.0, 1, 'Female', '75-79', 170.0, 64.41, 22.24, 'No', 1.0, 12.0, 4.0, 4.0), ('Good', 'Within the past year', 'Yes', 1, 1, 'No', 0, 0.0, 1, 'Male', '65-69', 173.0, 104.33, 34.97, 'No', 30.0, 12.0, 5.0, 7.0), ('Very Good', 'Within the past year', 'Yes', 1, 0, 'No', 0, 0.0, 1, 'Male', '70-74', 183.0, 90.72, 27.12, 'Yes', 12.0, 10.0, 20.0, 16.0), ('Very Good', 'Within the past year', 'Yes', 1, 0, 'Yes', 0, 0.0, 1, 'Male', '75-79', 180.0, 114.76, 35.29, 'Yes', 0.0, 2.0, 20.0, 0.0), ('Fair', 'Within the past 2 years', 'Yes', 1, 0, 'No', 0, 0.0, 1, 'Female', '80+', 155.0, 45.36, 18.89, 'Yes', 20.0, 12.0, 16.0, 0.0)]

In [ ]:
cur.execute("SELECT * FROM full_patient_dataset WHERE exercise='Yes' LIMIT 10;")
print("Patients who exercise:", cur.fetchall())

Patients who exercise: [('Very Good', 'Within the past year', 'Yes', 0, 0, 'No', 0, 1.0, 0, 'Female', '60-64', 163.0, 88.45, 33.47, 'No', 4.0, 12.0, 3.0, 16.0), ('Poor', 'Within the past year', 'Yes', 1, 0, 'No', 0, 1.0, 0, 'Male', '75-79', 180.0, 93.44, 28.73, 'No', 0.0, 30.0, 30.0, 8.0), ('Fair', 'Within the past year', 'Yes', 1, 0, 'No', 0, 0.0, 1, 'Male', '60-64', 175.0, 69.85, 22.74, 'Yes', 0.0, 16.0, 8.0, 0.0), ('Good', 'Within the past year', 'Yes', 0, 0, 'No', 0, 0.0, 1, 'Female', '65-69', 165.0, 108.86, 39.94, 'Yes', 3.0, 30.0, 8.0, 8.0), ('Fair', 'Within the past year', 'Yes', 1, 0, 'No', 0, 0.0, 1, 'Female', '75-79', 160.0, 74.84, 29.23, 'No', 0.0, 30.0, 20.0, 2.0), ('Excellent', 'Within the past 2 years', 'Yes', 0, 0, 'No', 0, 0.0, 0, 'Female', '70-74', 152.0, 52.16, 22.46, 'No', 0.0, 30.0, 4.0, 0.0), ('Very Good', 'Within the past year', 'Yes', 0, 0, 'No', 0, 0.0, 1, 'Male', '80+', 168.0, 81.65, 29.05, 'No', 30.0, 30.0, 12.0, 8.0), ('Fair', 'Within the past year', 'Yes', 0, 0, 'No', 0, 1.0, 0, 'Male', '45-49', 178.0, 104.33, 33.0, 'Yes', 2.0, 16.0, 12.0, 8.0), ('Very Good', 'Within the past 2 years', 'Yes', 0, 0, 'No', 1, 0.0, 0, 'Female', '18-24', 157.0, 55.79, 22.5, 'No', 0.0, 60.0, 30.0, 1.0), ('Very Good', '5 or more years ago', 'Yes', 0, 0, 'No', 0, 0.0, 0, 'Female', '30-34', 180.0, 124.74, 38.35, 'No', 0.0, 2.0, 4.0, 12.0)]

In [ ]:
cur.execute("SELECT general_health, COUNT(*) as total FROM full_patient_dataset GROUP BY general_health;")
print("Patients by general health:", cur.fetchall())

Patients by general health: [('Excellent', 55954), ('Fair', 35810), ('Good', 95364), ('Poor', 11331), ('Very Good', 110395)]

In [ ]:
# Check column names of your patients dataset
print(df_patients.columns.tolist())

['general_health', 'checkup', 'exercise', 'heart_disease', 'skin_cancer', 'other_cancer', 'depression', 'diabetes', 'arthritis', 'sex', 'age_category', 'height_(cm)', 'weight_(kg)', 'bmi', 'smoking_history', 'alcohol_consumption', 'fruit_consumption', 'green_vegetables_consumption', 'friedpotato_consumption']

In [ ]:
# Strip spaces, replace spaces with underscores, and lowercase everything
df_patients.columns = [c.strip().replace(' ', '_').lower() for c in df_patients.columns]

# Reload into SQLite
conn = sqlite3.connect('healthcare.db')
df_patients.to_sql('full_patient_dataset', conn, if_exists='replace', index=False)
cur = conn.cursor()

In [ ]:
import pandas as pd

df_patients = pd.read_csv('/content/full_patient_dataset.csv')
print(df_patients.columns.tolist())

['General_Health', 'Checkup', 'Exercise', 'Heart_Disease', 'Skin_Cancer', 'Other_Cancer', 'Depression', 'Diabetes', 'Arthritis', 'Sex', 'Age_Category', 'Height_(cm)', 'Weight_(kg)', 'BMI', 'Smoking_History', 'Alcohol_Consumption', 'Fruit_Consumption', 'Green_Vegetables_Consumption', 'FriedPotato_Consumption']

In [ ]:
df_patients.columns = [c.strip().replace(' ', '_').lower() for c in df_patients.columns]
print(df_patients.columns.tolist())

['general_health', 'checkup', 'exercise', 'heart_disease', 'skin_cancer', 'other_cancer', 'depression', 'diabetes', 'arthritis', 'sex', 'age_category', 'height_(cm)', 'weight_(kg)', 'bmi', 'smoking_history', 'alcohol_consumption', 'fruit_consumption', 'green_vegetables_consumption', 'friedpotato_consumption']

In [ ]:
import sqlite3

conn = sqlite3.connect('healthcare.db')
df_patients.to_sql('full_patient_dataset', conn, if_exists='replace', index=False)
cur = conn.cursor()

In [ ]:
import sqlite3

conn = sqlite3.connect('healthcare.db')
df_patients.to_sql('full_patient_dataset', conn, if_exists='replace', index=False)
cur = conn.cursor()

In [ ]:
cur.execute("SELECT Smoking_History, COUNT(*) as total FROM full_patient_dataset GROUP BY Smoking_History;")
print("Patients by Smoking_History:", cur.fetchall())

cur.execute("SELECT Alcohol_Consumption, COUNT(*) as total FROM full_patient_dataset GROUP BY Alcohol_Consumption;")
print("Patients by Alcohol_Consumption:", cur.fetchall())

Patients by Smoking_History: [('No', 183590), ('Yes', 125264)]
Patients by Alcohol_Consumption: [(0.0, 140262), (1.0, 24983), (2.0, 19740), (3.0, 11479), (4.0, 23367), (5.0, 9622), (6.0, 3518), (7.0, 2572), (8.0, 13438), (9.0, 239), (10.0, 7881), (11.0, 41), (12.0, 8825), (13.0, 76), (14.0, 486), (15.0, 6178), (16.0, 3602), (17.0, 78), (18.0, 196), (19.0, 11), (20.0, 9372), (21.0, 197), (22.0, 152), (23.0, 65), (24.0, 1253), (25.0, 2670), (26.0, 126), (27.0, 205), (28.0, 5935), (29.0, 309), (30.0, 11976)]

In [ ]:
cur.execute("SELECT * FROM full_patient_dataset WHERE depression=1 LIMIT 10;")
print("Patients with depression:", cur.fetchall())

Patients with depression: [('Good', 'Within the past year', 'No', 0, 0, 'No', 1, 0.0, 1, 'Male', '60-64', 183.0, 154.22, 46.11, 'No', 0.0, 12.0, 12.0, 12.0), ('Fair', 'Within the past year', 'No', 0, 0, 'No', 1, 0.0, 0, 'Female', '65-69', 163.0, 72.57, 27.46, 'Yes', 0.0, 12.0, 12.0, 4.0), ('Very Good', 'Within the past year', 'No', 0, 0, 'No', 1, 0.0, 0, 'Female', '50-54', 168.0, 83.91, 29.86, 'No', 8.0, 8.0, 0.0, 2.0), ('Very Good', 'Within the past 2 years', 'Yes', 0, 0, 'No', 1, 0.0, 0, 'Female', '18-24', 157.0, 55.79, 22.5, 'No', 0.0, 60.0, 30.0, 1.0), ('Fair', 'Within the past year', 'No', 0, 0, 'No', 1, 1.0, 1, 'Male', '65-69', 180.0, 147.42, 45.33, 'No', 0.0, 2.0, 5.0, 10.0), ('Good', 'Within the past year', 'Yes', 0, 0, 'No', 1, 0.0, 1, 'Female', '50-54', 160.0, 70.31, 27.46, 'Yes', 0.0, 7.0, 2.0, 0.0), ('Good', 'Within the past year', 'No', 0, 0, 'No', 1, 0.0, 1, 'Female', '70-74', 165.0, 77.11, 28.29, 'No', 0.0, 3.0, 0.0, 2.0), ('Fair', 'Within the past 2 years', 'No', 0, 0, 'Yes', 1, 0.0, 1, 'Female', '55-59', 175.0, 90.72, 29.53, 'Yes', 0.0, 2.0, 16.0, 16.0), ('Fair', 'Within the past year', 'Yes', 0, 0, 'No', 1, 0.0, 1, 'Female', '60-64', 168.0, 85.28, 30.34, 'Yes', 4.0, 0.0, 3.0, 2.0), ('Good', 'Within the past year', 'No', 0, 0, 'Yes', 1, 0.0, 1, 'Female', '60-64', 163.0, 120.2, 45.49, 'Yes', 0.0, 60.0, 30.0, 1.0)]

In [ ]:
cur.execute("SELECT * FROM full_patient_dataset WHERE skin_cancer=1 LIMIT 10;")
print("Patients with skin cancer:", cur.fetchall())

Patients with skin cancer: [('Fair', 'Within the past year', 'No', 1, 1, 'No', 0, 1.0, 0, 'Male', '75-79', 175.0, 73.48, 23.92, 'No', 0.0, 2.0, 8.0, 30.0), ('Fair', 'Within the past year', 'No', 0, 1, 'No', 0, 0.0, 0, 'Male', '65-69', 178.0, 113.4, 35.87, 'Yes', 4.0, 2.0, 3.0, 4.0), ('Good', 'Within the past year', 'No', 0, 1, 'Yes', 0, 1.0, 1, 'Female', '70-74', 163.0, 79.38, 30.04, 'No', 0.0, 12.0, 8.0, 4.0), ('Good', 'Within the past year', 'No', 0, 1, 'Yes', 0, 0.0, 1, 'Female', '80+', 160.0, 70.31, 27.46, 'Yes', 12.0, 8.0, 16.0, 4.0), ('Fair', 'Within the past year', 'Yes', 0, 1, 'No', 0, 0.0, 1, 'Male', '70-74', 188.0, 102.06, 28.89, 'No', 0.0, 30.0, 1.0, 12.0), ('Good', 'Within the past year', 'Yes', 0, 1, 'No', 0, 0.0, 0, 'Male', '70-74', 185.0, 88.45, 25.73, 'No', 1.0, 30.0, 12.0, 3.0), ('Good', 'Within the past year', 'No', 0, 1, 'No', 0, 0.0, 1, 'Female', '80+', 165.0, 70.31, 25.79, 'Yes', 3.0, 60.0, 30.0, 8.0), ('Good', 'Within the past year', 'No', 0, 1, 'No', 0, 0.0, 1, 'Female', '80+', 168.0, 77.11, 27.44, 'No', 0.0, 5.0, 8.0, 12.0), ('Excellent', 'Within the past year', 'Yes', 0, 1, 'No', 0, 0.0, 0, 'Female', '75-79', 168.0, 49.9, 17.75, 'No', 0.0, 30.0, 30.0, 0.0), ('Poor', 'Within the past year', 'Yes', 0, 1, 'No', 1, 0.0, 1, 'Female', '65-69', 152.0, 69.4, 29.88, 'No', 0.0, 6.0, 6.0, 0.0)]

In [ ]:
# Replace spaces with underscores, lowercase everything
df_patients.columns = [c.strip().replace(' ', '_').lower() for c in df_patients.columns]
df_high_risk.columns = [c.strip().replace(' ', '_').lower() for c in df_high_risk.columns]

print("Cleaned patients columns:", df_patients.columns.tolist())
print("Cleaned high-risk columns:", df_high_risk.columns.tolist())

Cleaned patients columns: ['general_health', 'checkup', 'exercise', 'heart_disease', 'skin_cancer', 'other_cancer', 'depression', 'diabetes', 'arthritis', 'sex', 'age_category', 'height_(cm)', 'weight_(kg)', 'bmi', 'smoking_history', 'alcohol_consumption', 'fruit_consumption', 'green_vegetables_consumption', 'friedpotato_consumption']
Cleaned high-risk columns: ['general_health', 'checkup', 'exercise', 'heart_disease', 'skin_cancer', 'other_cancer', 'depression', 'diabetes', 'arthritis', 'sex', 'age_category', 'height_(cm)', 'weight_(kg)', 'bmi', 'smoking_history', 'alcohol_consumption', 'fruit_consumption', 'green_vegetables_consumption', 'friedpotato_consumption']

In [ ]:
# First run
cur.execute("""
SELECT p.general_health, p.heart_disease, p.exercise
FROM full_patient_dataset p
JOIN high_risk_patient_segment h
ON p.general_health = h.general_health AND p.heart_disease = h.heart_disease
LIMIT 10;
""")
print("High-risk join (first):", cur.fetchall())

# Second run (execute again)
cur.execute("""
SELECT p.general_health, p.heart_disease, p.exercise
FROM full_patient_dataset p
JOIN high_risk_patient_segment h
ON p.general_health = h.general_health AND p.heart_disease = h.heart_disease
LIMIT 10;
""")
print("High-risk join (second):", cur.fetchall())

High-risk join (first): [('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No')]
High-risk join (second): [('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No'), ('Poor', 0, 'No')]

In [ ]:
cur.execute("SELECT * FROM full_patient_dataset WHERE heart_disease=1 AND depression=1 LIMIT 10;")
print("Heart disease + depression:", cur.fetchall())

Heart disease + depression: [('Poor', 'Within the past year', 'No', 1, 0, 'No', 1, 1.0, 1, 'Female', '75-79', 160.0, 72.57, 28.34, 'No', 0.0, 4.0, 30.0, 30.0), ('Fair', 'Within the past year', 'No', 1, 0, 'No', 1, 0.0, 1, 'Female', '80+', 160.0, 52.16, 20.37, 'Yes', 0.0, 30.0, 2.0, 1.0), ('Poor', 'Within the past year', 'No', 1, 0, 'No', 1, 1.0, 1, 'Male', '60-64', 178.0, 98.88, 31.28, 'No', 0.0, 12.0, 4.0, 4.0), ('Good', 'Within the past year', 'Yes', 1, 1, 'No', 1, 1.0, 1, 'Female', '80+', 150.0, 72.57, 32.32, 'No', 0.0, 30.0, 4.0, 1.0), ('Poor', 'Within the past year', 'No', 1, 0, 'No', 1, 0.0, 1, 'Male', '65-69', 170.0, 96.16, 33.2, 'No', 0.0, 12.0, 3.0, 4.0), ('Fair', 'Within the past year', 'No', 1, 0, 'No', 1, 0.0, 1, 'Female', '70-74', 157.0, 77.11, 31.09, 'No', 0.0, 12.0, 8.0, 12.0), ('Poor', 'Within the past year', 'No', 1, 0, 'No', 1, 0.0, 1, 'Female', '75-79', 163.0, 79.38, 30.04, 'No', 0.0, 1.0, 3.0, 3.0), ('Fair', 'Within the past year', 'Yes', 1, 0, 'No', 1, 0.0, 1, 'Female', '70-74', 170.0, 84.82, 29.29, 'Yes', 12.0, 12.0, 12.0, 0.0), ('Fair', 'Within the past year', 'No', 1, 0, 'No', 1, 0.0, 1, 'Male', '80+', 170.0, 111.13, 38.37, 'Yes', 0.0, 30.0, 12.0, 8.0), ('Fair', 'Within the past 2 years', 'Yes', 1, 0, 'No', 1, 0.0, 1, 'Male', '65-69', 183.0, 83.91, 25.09, 'Yes', 0.0, 60.0, 30.0, 8.0)]

In [ ]:
cur.execute("SELECT exercise, COUNT(*) as total FROM full_patient_dataset GROUP BY exercise;")
print("Patients by exercise:", cur.fetchall())

Patients by exercise: [('No', 69473), ('Yes', 239381)]

In [ ]:
cur.execute("SELECT * FROM full_patient_dataset WHERE other_cancer IS NOT NULL LIMIT 10;")
print("Patients with other cancers:", cur.fetchall())

Patients with other cancers: [('Poor', 'Within the past 2 years', 'No', 0, 0, 'No', 0, 0.0, 1, 'Female', '70-74', 150.0, 32.66, 14.54, 'Yes', 0.0, 30.0, 16.0, 12.0), ('Very Good', 'Within the past year', 'No', 1, 0, 'No', 0, 1.0, 0, 'Female', '70-74', 165.0, 77.11, 28.29, 'No', 0.0, 30.0, 0.0, 4.0), ('Very Good', 'Within the past year', 'Yes', 0, 0, 'No', 0, 1.0, 0, 'Female', '60-64', 163.0, 88.45, 33.47, 'No', 4.0, 12.0, 3.0, 16.0), ('Poor', 'Within the past year', 'Yes', 1, 0, 'No', 0, 1.0, 0, 'Male', '75-79', 180.0, 93.44, 28.73, 'No', 0.0, 30.0, 30.0, 8.0), ('Good', 'Within the past year', 'No', 0, 0, 'No', 0, 0.0, 0, 'Male', '80+', 191.0, 88.45, 24.37, 'Yes', 0.0, 8.0, 4.0, 0.0), ('Good', 'Within the past year', 'No', 0, 0, 'No', 1, 0.0, 1, 'Male', '60-64', 183.0, 154.22, 46.11, 'No', 0.0, 12.0, 12.0, 12.0), ('Fair', 'Within the past year', 'Yes', 1, 0, 'No', 0, 0.0, 1, 'Male', '60-64', 175.0, 69.85, 22.74, 'Yes', 0.0, 16.0, 8.0, 0.0), ('Good', 'Within the past year', 'Yes', 0, 0, 'No', 0, 0.0, 1, 'Female', '65-69', 165.0, 108.86, 39.94, 'Yes', 3.0, 30.0, 8.0, 8.0), ('Fair', 'Within the past year', 'No', 0, 0, 'No', 1, 0.0, 0, 'Female', '65-69', 163.0, 72.57, 27.46, 'Yes', 0.0, 12.0, 12.0, 4.0), ('Fair', 'Within the past year', 'No', 0, 0, 'No', 0, 1.0, 1, 'Female', '70-74', 163.0, 91.63, 34.67, 'No', 0.0, 12.0, 12.0, 1.0)]

In [ ]:
cur.execute("SELECT * FROM full_patient_dataset WHERE Smoking_History='Yes' AND Alcohol_Consumption='Yes' LIMIT 10;")
print("Patients who smoke & drink:", cur.fetchall())

Patients who smoke & drink: []

In [ ]:
cur.execute("""
SELECT p.general_health, p.exercise, p.heart_disease
FROM full_patient_dataset p
JOIN high_risk_patient_segment h
ON p.general_health = h.general_health AND p.heart_disease = h.heart_disease
WHERE p.heart_disease=1
LIMIT 10;
""")
print("High-risk + heart disease:", cur.fetchall())

High-risk + heart disease: [('Fair', 'No', 1), ('Fair', 'No', 1), ('Fair', 'No', 1), ('Fair', 'No', 1), ('Fair', 'No', 1), ('Fair', 'No', 1), ('Fair', 'No', 1), ('Fair', 'No', 1), ('Fair', 'No', 1), ('Fair', 'No', 1)]

In [ ]:
cur.execute("SELECT general_health, SUM(skin_cancer) as skin_cancer_count FROM full_patient_dataset GROUP BY general_health;")
print("Skin cancer count by health:", cur.fetchall())

Skin cancer count by health: [('Excellent', 3982), ('Fair', 4047), ('Good', 9639), ('Poor', 1592), ('Very Good', 10734)]

In [ ]:
cur.execute("""
SELECT p.general_health, p.heart_disease
FROM full_patient_dataset p
LEFT JOIN high_risk_patient_segment h
ON p.general_health = h.general_health AND p.heart_disease = h.heart_disease
WHERE h.general_health IS NULL
LIMIT 10;
""")
print("Patients not in high-risk:", cur.fetchall())

Patients not in high-risk: [('Very Good', 1), ('Very Good', 0), ('Good', 0), ('Good', 0), ('Good', 0), ('Very Good', 0), ('Excellent', 0), ('Good', 0), ('Very Good', 0), ('Good', 0)]

In [ ]:
cur.execute("SELECT Smoking_History, exercise, COUNT(*) as total FROM full_patient_dataset GROUP BY Smoking_History, exercise;")
print("Patients by Smoking_History & exercise:", cur.fetchall())

Patients by Smoking_History & exercise: [('No', 'No', 35389), ('No', 'Yes', 148201), ('Yes', 'No', 34084), ('Yes', 'Yes', 91180)]

In [ ]:
cur.execute("""
SELECT p.general_health, p.depression, p.heart_disease
FROM full_patient_dataset p
JOIN high_risk_patient_segment h
ON p.general_health = h.general_health AND p.heart_disease = h.heart_disease
WHERE p.depression=1
LIMIT 10;
""")
print("Depressed + high-risk patients:", cur.fetchall())

Depressed + high-risk patients: [('Fair', 1, 0), ('Fair', 1, 0), ('Fair', 1, 0), ('Fair', 1, 0), ('Fair', 1, 0), ('Fair', 1, 0), ('Fair', 1, 0), ('Fair', 1, 0), ('Fair', 1, 0), ('Fair', 1, 0)]